# pip install -r requirements.txt

# 命令行
fire
click
rich

# 桌面
# pyside6==6.4.3
# pyinstaller
# pywinauto
# pyautogui
# autopy

# Web
fastapi
starlette
uvicorn

Django==3.2.23
flask==2.3.3
gevent==22.10.2
gunicorn==20.1.0
cheroot

requests
httpx
httpx[cli]

aiohttp==3.9.1
aiodns # aiohttp异步dns查询, termux中安装不成功
Brotli # aiohttp中brotli传输编码支持
charset-normalizer # 自动检测编码


# 开发工具
python-dotenv
ipython
pytest
black
flake8
sphinx
loguru

# 数据相关
aiomysql
sqlalchemy==1.4.*
pymysql
DBUtils==3.0.3
celery
redis==4.6.0
hiredis # redis-py加速
pandas
simplejson==3.19.1


ansible

schedule
pytz

js2py