# pip install -r requirements.txt

# 命令行
fire
click
rich

# 桌面
# pyside6==6.4.3
# pyinstaller
# pywinauto
# pyautogui
# autopy

# Web
fastapi
starlette
uvicorn
httpx
httpx[cli]

Django==3.2.20
flask==1.1.2
waitress
gevent
gunicorn==20.1.0
requests

# 开发工具
python-dotenv
ipython
pytest
black
flake8
sphinx

# 数据相关
aiomysql
sqlalchemy==1.4.49
pymysql
DBUtils==3.0.3
celery
redis
pandas


ansible

schedule
pytz

js2py